altgraph==0.17.4
cffi==1.17.1
colorama==0.4.6
cryptography==43.0.1
exceptiongroup==1.2.2
greenlet==3.1.1
iniconfig==2.0.0
numpy==1.24.4
packaging==24.1
pefile==2023.2.7
pluggy==1.5.0
pycparser==2.22
pyinstaller==6.11.0
pyinstaller-hooks-contrib==2024.9
PySide2==5.15.2.1
pytest==8.3.3
pywin32-ctypes==0.2.3
shiboken2==5.15.2.1
SQLAlchemy==2.0.35
tomli==2.0.2
typing_extensions==4.12.2
